
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: linear-gradient(135deg, #2d5929, #46d0b2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: #6E8EF8;
    box-shadow: 0px 0px 8px rgba(110, 142, 248, 0.5);
    outline: none;
}

button {
    width: 100%;
    background: #46d0b2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2d5929;
    box-shadow: 0px 4px 12px rgba(17, 20, 29, 0.5);
}

.login-text {
    margin-top: 15px;
    font-size: 14px;
    color:  #46d0b2;
}

.login-text a {
    color:  #2d5929;
    text-decoration: none;
    font-weight: 500;
}

.login-text a:hover {
    text-decoration: underline;
}

/* Fade In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
